body {
  background: linear-gradient(#ffe6e6, #daeaf1);
  color: #4b5d67;
}

.container {
  max-width: 800px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  border: solid 1px #f2d1d1;
  background-color: rgba(255, 230, 230, 0.6);
  box-shadow: 5px 5px 40px #f2d1d1;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard {
  max-width: 600px;
  display: block;
  margin: 60px auto;
  margin-bottom: 0px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-weight: 600;
}

h1:first-letter {
  text-transform: capitalize;
}

h2 {
  font-size: 16px;
}

#last-updated {
  font-weight: 600;
}

form {
  margin-top: 30px;
}

p {
  font-size: 30px;
}

ul {
  margin-top: 20px;
}

li {
  list-style-type: none;
  text-align: right;
}

.search-city {
  display: flex;
}

.temperature {
  padding: 0;
  font-weight: 600;
  font-size: 45px;
  margin-top: -10px;
}

.description {
  margin: 0;
  font-size: 16px;
}

.description:first-letter {
  text-transform: capitalize;
}

#weather-icon {
  width: 120px;
  margin-top: -20px;
}

#icon img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#search-city {
  width: 400px;
  align-items: center;
}

.footer {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #ff8c8c;
  text-decoration: none;
}

.weather-forecast {
  margin: 40px 20px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  font-weight: 600;
  opacity: 0.8;
}

.daily-forecast {
  padding: 12px;
  text-align: center;
}

.forecast-day {
  font-size: 16px;
  color: #4b5d67;
}

.max-temp {
  font-size: 16px;
}

.min-temp {
  opacity: 0.6;
  font-size: 15px;
}
